.background-pokeCard{
    background-image: url('../../../images/pokecards.png');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: PokemonRBYG, Montserrat, sans-serif;


  

   
}

.poker-card-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  position: absolute;
  left: 43%;
  top: 42%
}

.divPacks{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 7px;
  font-weight: bold;
  color: #192653;


}

.pSilver{
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  font-family: PokemonRBYG, Montserrat, sans-serif;
}

.pGold{

  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  font-family: PokemonRBYG, Montserrat, sans-serif;
}

.pPlatinum{

  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  font-family: PokemonRBYG, Montserrat, sans-serif;
}

.silver{
    background-image: url(../../../images/card_back.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-size: 10px;
    width: 30px;
    height: 50px;



}

.silver:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
  }
  
  .silver:focus {
    border-color: #4285f4;
    outline: none;
  } 


  .gold{
    background-image: url(../../../images/card_back.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    width: 30px;
    height: 50px;


  }
  .gold:hover {
    border-color: #d0ff00;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
  }
  .gold:focus {
    border-color: #4285f4;
    outline: none;
  } 

  .platinum{
    background-image: url(../../../images/card_back.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
    cursor: pointer;
    font-size: 10px;
    width: 30px;
    height: 50px;

  }


.platinum:hover {
  border-color: #ff2d2d;
  box-shadow: rgba(255, 4, 4, 0.1) 0 1px 1px;
  color: #202124;
}
.platinum:focus {
  border-color: #4285f4;
  outline: none;
} 


  



@keyframes glowing-multi {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

