

.background-pokeCard {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('C:\Users\Formando\Desktop\PokeBytes\front-end\src\images\pokecards-center.png');
  font-family: PokemonRBYG, Montserrat, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.volume-icon{
  position: absolute;
  left: 50px;
}


.poker-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  position: absolute;
  left: 43%;
  top: 42%
}

.divPacks {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 7px;
  font-weight: bold;
  color: #192653;


}

.pSilver {
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  font-family: PokemonRBYG, Montserrat, sans-serif;
}

.pGold {

  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  font-family: PokemonRBYG, Montserrat, sans-serif;
}

.pPlatinum {

  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  font-family: PokemonRBYG, Montserrat, sans-serif;
}

.silver {
  background-image: url(../../../images/card_back.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-size: 10px;
  width: 40px;
  height: 60px;



}

.silver:hover {
  border-color: #dadce0;
  box-shadow: rgba(217, 255, 3, 0.589) 0 1px 1px;
  color: #202124;
}

.silver:focus {
  border-color: #4285f4;
  outline: none;
}


.gold {
  background-image: url(../../../images/card_back.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  width: 40px;
  height: 60px;


}

.gold:hover {
  border-color: #d0ff00;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

.gold:focus {
  border-color: #4285f4;
  outline: none;
}

.platinum {
  background-image: url(../../../images/card_back.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
  cursor: pointer;
  font-size: 10px;
  width: 40px;
  height: 60px;

}


.platinum:hover {
  border-color: #ff2d2d;
  box-shadow: rgba(255, 4, 4, 0.1) 0 1px 1px;
  color: #202124;
}

.platinum:focus {
  border-color: #4285f4;
  outline: none;
}






@keyframes glowing-multi {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* ------------------------------*/



.cardDiv {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
  height: 70%;

}

.carta-exterior {
  border: 10px solid #ffcb05;
  border-radius: 12px;
  background-size: cover;
  opacity: 0.95;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

.carta-interior {
  width: 150px;
  max-height: 210px;
}

.id-label-hp-type {
  letter-spacing: 0.4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
}

.id-and-label {
  display: flex;
  font-size: 10px;
  text-align: center;
  gap: 3px;
  font-weight: 900;
  margin-left: 10px;

}

.hp-and-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 900;
  margin-right: 10px;

}

.grassType {
  border: 1px solid black;
  border-radius: 50%;

}

.image-wrapper {
  border: 4px solid #ffcb05;
  margin: 5px 12px 0 12px;
  letter-spacing: 0.4px;
  max-height: 170px;

}

.image-inner-wrapper {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-field {
  width: 65%;
}


.pokemonHP {
  color: #d5250e;
}

.card-lower-info {
  font-size: 30px;
}

.pokemonRarity {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
  margin-bottom: 5px;
}

.rarity {
  color: #fafff3;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  font-size: 8px;

}

.pokemonType,
.pokemonAttack,
.pokemonDefense {
  font-size: 10px;
  margin-bottom: 5px;
  text-align: center;
}


.info-pokemons {
  background-color: rgba(250, 235, 215, 0.301);

}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: auto;
  }
}