.cards-front{
        background-image: url('../../images/card_back.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 205px;
        height: 286px;   
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);  
    
}