.cards{
    display: flex;
    flex-direction: column;
    width: 196px;
    height: 274px;
    background: rgb(251,126,63);
    background: radial-gradient(circle, rgba(251,126,63,1) 0%, rgba(255,239,61,1) 100%);
    border-radius: 5px;
    border: rgb(246, 246, 163) 8px solid;
    margin: 30px;
    gap: 20px;
    text-align: justify;
    padding: 20px;

    
}

.powers *{
    background-color: rgb(255, 255, 255);
    
    
}

.image{
    background-image: url('../images/Pikachu.jpg');
    
    width: auto;
    height: 274px;
    
}