.background-privacy{
    background-color: rgb(25,38,83);
    display: flex;
    justify-content: center;
  }

  .body{
    width: 40%;
    background-color: white;
    padding: 30px 70px 30px 70px;
  }

.h1{
    color: rgb(25,38,83);;
    margin: 30px;
    text-align: center;
    
  }

.paragrafo{
    font-size: 16px;
    text-align: justify;
    line-height: 2;
    margin-bottom: 20px;
}
.listaOrdenada{
    margin-top: 30px;
    margin-bottom: 30px;
}

.listaTermos{
    margin-bottom: 10px;
}