.backgroud-payment-success{
    background-color: #192653;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paragrafo-payment-success{
    color:white;
    font-size: 30px;
}

.imagemVoltar{
    width: 80px;
    bottom: 10px;
    left: 10px;
}