.background {
  background-image: url("../../images/background_gradient.png");
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.pokebola {
  position: relative;
  width: 60%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1%;
  position: absolute;
  bottom: 10%;
  width: 100%;
  margin-top: 10px;
}

.pokebytes {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.logo {
  width: 50%;
  align-items: center;
}

.buttonLogin,
.buttonSignUp {
  font-weight: 700;
  border-radius: 50px;
  width: 300px;
  height: 45px;
  padding: 10px;
  margin: 5px;
  border: none;
  color: #ffcb05;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;
}

.music-toggle {
  position: absolute;
  border-radius: 100px;
  top: 80px;
  left: 95%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  border: none;
  padding: 25px;
  color: #ffcb05;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;
}

.music-toggle:hover {
  color: #192653;
  background-color: #ffcb05;
}

.volume-bar {
  position: absolute;
  color: #ffcb05;
  top: 65px;
  left: 89%;
  width: 70px;
  transform: rotate(-90deg);
  cursor: pointer;
}

.volume-bar::-webkit-slider-runnable-track {

    background-color: #ffffff; 
    opacity: 1;
    border-radius: 50px;
    
  }


  .volume-bar::-webkit-slider-thumb {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
  }
  
