.backgound {
    background-image: url('../../images/BACKGROUND1.png');
    height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;


}

.pokebola {
    position: relative;
    width: 60%;


}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    position: absolute;
    bottom: 10%;
    width: 100%;
    margin-top: 10px;

}

.pokebytes {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 50%;
    align-items: center;
}

.inputUsername,
.inputPassword {
    font-weight: 300;
    border-radius: 50px;
    width: 300px;
    height: 36px;
    padding: 5px;
    margin: 5px;
    border: 3px solid #58585a8c;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: #58585a8c;
    font-size: 20px
}

.inputUsername:hover,
.inputPassword:hover {
    color: #58585a8c;
    border: 3px solid #58585a8c;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.inputUsername:hover::placeholder,
.inputPassword:hover::placeholder {
    font-weight: bold;
}


.buttonLogin,
.buttonSignUp {
    font-weight: 700;
    border-radius: 50px;
    width: 300px;
    height: 45px;
    padding: 10px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #192653;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 16px;

}

.buttonLogin:hover,
.buttonSignUp:hover {
    background-color: #58585A;
    cursor: pointer;
    color: #F28680;

}

