html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .arena-background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to 100% viewport height */
  }
  
  .arena-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
  }
  
  .arena-background img {
    position: relative;
    width: auto;
  }