html,
body {
  height: 100%;
  margin: 0;
  font-family: "PokemonRBYG";
}

.background-tradeMachine {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../images/trading_machine.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.rules {
  background-color: #FFCB05;
  color: #192653;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 36px;
  right: 40px;
  font-weight: 900;
}

.rules-text {
  text-align: center;
  font-family: "PokemonRBYG";
  font-size: 14px;
  font-weight: 900;
  
}

.rules-content-box {
 
  background-repeat: no-repeat;
  background-position: center;

  background-color: #FFCB05;


  
}

.tm-machine{
  background-color: #32d61f;
}


.rules-title {
  font-size: 25px;
  height: auto;
  width: auto;
  
}

.rules-content {
  text-align: center;
  margin: 0;
  font-weight: 700;
  color: #192653;
  font-size: 20px;
}

.very-common {
  color: #804320;
  background-color: rgb(0, 0, 0, 0.4);
  border: 1px black solid;
  border-radius: 10px;
  font-family: "PokemonRBYG";
  font-size: 13px;
  font-weight: 900;
  padding: 5px;
}

.common {
  color: #32d61f;
  background-color: rgb(0, 0, 0, 0.5);
  border: 1px black solid;
  border-radius: 10px;  
  font-family: "PokemonRBYG";
  font-size: 13px;
  font-weight: 900;
  padding: 5px;
}

.uncommon {
  color: #008b8b;
  background-color: rgb(0, 0, 0, 0.5);
  border: 1px black solid;
  border-radius: 10px;
  font-family: "PokemonRBYG";
  font-size: 13px;
  padding: 5px;
}

.rare {
  color: #309bf0;
  background-color: rgb(0, 0, 0, 0.5);
  border: 1px black solid;
  border-radius: 10px;
  font-family: "PokemonRBYG";
  font-size: 13px;
  padding: 5px;
}

.very-rare {
  color: #e12c6a;
  background-color: rgb(0, 0, 0, 0.5);
  border: 1px black solid;
  border-radius: 10px;
  font-family: "PokemonRBYG";
  font-size: 13px;
  padding: 5px;
}

.epic {
  color: #ff00ff;
  background-color: rgb(0, 0, 0, 0.5);
  border: 1px black solid;
  border-radius: 10px;
  font-family: "PokemonRBYG";
  font-size: 13px;
  padding: 5px;
}

.legendary {
  color: #ffa500;
  background-color: rgb(0, 0, 0, 0.5);
  border: 1px black solid;
  border-radius: 10px;
  font-family: "PokemonRBYG";
  font-size: 13px;
  padding: 5px;
}

.return-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  bottom: 10px;
  left: 10px;
  height: 50px;
  width: auto;
}

.content-wrapper{
  background-color: pink;
  color:black;
  height: 200px;
  width: 200px;
  padding:20px
}


/* .inventario{
  background-color: red;
  width:  50px;
  height: 70px;
  align-items: end;
} */



.modal-overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 180%;
  top: 1px;
  height: 100%;
  width: 100%;
}

.modal-content{
  background-color: transparent;
  text-decoration: none;
  border: none;

}