 
  .background-pokeBag {
    background-image: url("../../../images/pokebag_background.png");
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

.container-pokebag {  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
}

.carta-exterior {
    border: 10px solid #ffcb05;
    border-radius: 12px;
    background-size: cover;
    opacity: 0.95;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);    
}

.carta-interior{
    width: 150px;
    height: 210px;
}

.id-label-hp-type {
    letter-spacing: 0.4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
}

.id-and-label {
    display: flex;
    font-size: 10px;
    text-align: center;
    gap: 3px;
    font-weight: 900;
    margin-left: 10px;

}

.hp-and-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    margin-right: 10px;

}

.grassType {
    border: 1px solid black;
    border-radius: 50%;

}

.image-wrapper {
    border: 4px solid #ffcb05;
    margin: 5px 12px 0 12px;
    letter-spacing: 0.4px;
    max-height: 170px;

}

.image-inner-wrapper {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-field {
    width: 65%;
}


.pokemonHP {
    color: #d5250e;
}

.card-lower-info {
    font-size: 30px;
}

.pokemonRarity {
    margin-top: 10px;
    font-size: 10px;
    text-align: center;
    margin-bottom: 5px;
}

.rarity {
    color: #fafff3;
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
    font-size: 8px;

}

.pokemonType, .pokemonAttack,.pokemonDefense {
    font-size: 10px;
    margin-bottom: 5px;
    text-align: center;
}


.info-pokemons{
    background-color: rgba(250, 235, 215, 0.301);
    
}

@media (max-width: 768px) {
    .card {
      width: 100%;
      height: auto;
    }
  }

  
  
  
  
  