.tooltip {
    position: relative;
    display: inline-block;
  
  }


  .tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: #FAFF00;
    color: #192653;
    border-bottom: 5px solid #6667AB;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.8s;
    font-family: PokemonRBYG, Arial, Helvetica, sans-serif;
    font-weight: 900;
  }

  .tooltip:hover{
    border: 5px #6667AB solid;
    border-radius: 100%;

  }

   .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

    .imgBattle .tooltiptext {
    
    position: absolute;
    bottom: -120%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #FAFF00;
    color: #192653;
    border: 2px solid #6667AB;

    }

    .imgBattle:hover .tooltiptext{
        visibility: visible;
        opacity: 1;
        
  }

  


  
  